body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .a{
     width: 20%;
     text-align: left;
     padding-left: 5%;
     padding-top: 5%;
     }
 section{
     display: flex;
 }
 .first{
     width: 50%;
     padding: 5%;
     text-align: left;
 }
 .link-button{
     text-decoration: none;
   background-image: linear-gradient( rgb(255, 89, 60), rgb(177, 126, 15)) ;
   padding:  10px 15px;
   color: aliceblue;
   font-weight: 700;
   border-radius: 25%;
 }
 
 .third{
     width: 250px;
     height: 250px;
     padding: 5%;
     border: 1px solid blue;  
     border-radius: 25%;
 }
 
 h2{
     text-align: center;
 }
 /* ----------------
    top blog style
   --------------- */
   .container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
     margin: 30px;
 }
 .course{
     border: 2px solid rgb(92, 238, 248) ;
     margin-bottom: 20px;
     border-radius: 15px;
 }
 .course .course-banner img{
    border-radius: 10px;
 }
 
 
 .course-info{
     display: flex;
     align-items: center;
     padding-left: 5px;  
 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
 color: #ffc014;
 }
 .fa-star.empty{
     color: #aeaeae;
 }
 .course-title{
     padding-left: 5px;
     margin-bottom: 0px;
 }
 .course-author{
     padding-left: 5px;
 } 
 .p{
     padding-left: 15px;
 }
 .go{
     padding: 5px;
     margin: 0px;
     margin-bottom: 5px;
 }
 
 .link-button-2{
     text-decoration: none;
     padding-left: 900px;
     color: rgb(250, 41, 4);
 }
 
 .five{
     padding-left: 50px;
 }
 .six{
     padding-left: 150px;
 }
 
 .x{
     background-color: rgb(228, 89, 89);
     border : 2px solid blue;
 }
 .y{
     color: blanchedalmond;
     text-align: center;
     padding-top: 0%;
 }
 .z{
     color: blanchedalmond;
     text-align: center;
     padding-bottom: 0%;
 }
 .zz{
     color: blanchedalmond;
     text-align: center;
     padding-bottom: 0%;
 }
 .you{
     padding-left: 420px;
 }
 .m{
     padding-left: 10px;
 }
 /* end */
 
 